@model Tipos

<h1>Registro de Tipo</h1>

<form method="post">
    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre">
    </div>
    <button class="btn btn-primary">Registrar</button>
    <button class="btn btn-primary"><a href="~/home/admi">Regresar</a></button>
</form>