@model Usuario

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.11/css/mdb.min.css" rel="stylesheet">
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="~/css/estilos.css">
    <link rel="stylesheet" href="~/css/styleNav.css">

    <title>Registro de Usuario</title>
</head>
<body>      
<nav class="navbar navbar-expand-lg navbar-dark gris scrolling-navbar fixed-top">
				<div class="container">
			
					<a class="navbar-brand" href="~/home/index"><img src="~/img/logo.png" height="40px" width="40px"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
			
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
					  <ul class="navbar-nav mr-auto">
					   <li class="nav-item">
						<a class="nav-link" href="#">Nosotros <span class="sr-only">(current)</span></a>
					   </li>
					   <li class="nav-item">
						<a class="nav-link" href="~/ropas/hombre">Hombre</a>
					   </li>
					   <li class="nav-item">
						<a class="nav-link" href="~/ropas/mujer" tabindex="-1" aria-disabled="true">Mujer</a>
					   </li>
					  </ul>
					 </div>
					<form class="form-inline my-2 my-lg-0" >
						<a class="nav-link" href="~/usuarios/iniciar">Iniciar Sesión</a>
						<input class="form-control mr-sm-2" type="search" placeholder="Búsqueda">
						<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
					</form>
				</div>
		</nav>
	

<form method="post" class="form-register">
	<div asp-validation-summary="All"></div>
	<h2 class="form_título">CREA UNA CUENTA</h2>
	<div class="contenedor-inputs" required>
  		<input asp-for="Nombre" type="text" name="Nombre" placeholder="Nombre" class="input-48" required>
  		<input asp-for="Apellido" type="text" name="Apellido" placeholder="Apellido" class="input-48" required>
  		<input asp-for="Correo" type="email" name="Correo" placeholder="Correo" class="input-100" required>
  		<input asp-for="Dni" type="text" name="Dni" placeholder="Dni" class="input-48" required>
  		<input asp-for="Contraseña" type="password" name="Contraseña" placeholder="Contraseña" class="input-48" required>
  		<input asp-for="Telefono" type="text" name="Telefono" placeholder="Teléfono" class="input-100" required>
  		<input type="submit" value="Registrar" class="btn-enviar">
	</form>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.11/js/mdb.min.js"></script>

</body>
</html>