<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.11/css/mdb.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

     <link rel="stylesheet" type="text/css" href="~/css/styleIma.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleNav.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleM.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styleFo.css" />

    <title>CHOMPAS HOMBRE</title>



</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark gris scrolling-navbar fixed-top">
				<div class="container">
			
					<a class="navbar-brand" href="~/home/index"><img src="~/img/logo.png" height="40px" width="40px"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
			
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
					  <ul class="navbar-nav mr-auto">
					   <li class="nav-item">
						<a class="nav-link" href="~/home/nosotros">Nosotros <span class="sr-only">(current)</span></a>
					   </li>
					   <li class="nav-item">
						<a class="nav-link" href="~/home/hombre">Hombre</a>
					   </li>
					   <li class="nav-item">
						<a class="nav-link" href="~/ropas/mujer" tabindex="-1" aria-disabled="true">Mujer</a>
					   </li>
					  </ul>
					 </div>
					<form class="form-inline my-2 my-lg-0" >
						<a class="nav-link" href="~/usuarios/iniciar">Iniciar Sesión</a>
						<input class="form-control mr-sm-2" type="search" placeholder="Búsqueda">
						<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
					</form>
				</div>
		</nav>


        <ul id="nav" >
		<li><a href="~/ropas/hombre">Hombre</a>
			<ul>
				<li><a href="~/vestimentas/poloh">Polos</a></li>
				<li><a href="~/vestimentas/chompah">Chompas</a></li>
				<li><a href="~/vestimentas/pantalonh">Pantalones</a></li>
				<li><a href="~/vestimentas/zapatillah">Zapatillas</a></li>
			</ul>
		</li>
		<li><a href="~/ropas/mujer">Mujer</a>
			<ul>
				<li><a href="~/vestimentas/polom">Polos</a></li>
				<li><a href="~/vestimentas/chompam">Chompas</a></li>
				<li><a href="~/vestimentas/pantalonm">Pantalones</a></li>
				<li><a href="~/vestimentas/zapatillam">Zapatillas</a></li>
			</ul>
		</li>
		<li><a href="#">Ofertas</a></li>
	</ul>

    <div class="galeria">
        <div class="linea"></div>
        <div class="contenedor-imagenes">
            <div class="imagen">
                <img src="~/img/hombre/ch1.jpg" alt="">
                <div class="overlay">
                    <h2>S/. 39.99</h2>                 
                </div>
            </div>
         
            <div class="imagen">
                <img src="~/img/hombre/ch2.jpg" alt="">
                <div class="overlay">
                    <h2>S/. 49.99</h2>
                </div>
            </div>
            <div class="imagen">
                <img src="~/img/hombre/chm.jpg" alt="">
                <div class="overlay">
                    <h2>S/. 29.99</h2>
                </div>
            </div>
            <div class="imagen">
                <img src="~/img/hombre/ch4.jpg" alt="">
                <div class="overlay">
                    <h2>S/. 29.99</h2>
                </div>
            </div>
            <div class="imagen">
                <img src="~/img/hombre/ch5.png" alt="">
                <div class="overlay">
                    <h2>S/. 39.99</h2>
                </div>
            </div>
            <div class="imagen">
                <img src="~/img/hombre/ch6.jpg" alt="">
                <div class="overlay">
                    <h2>S/. 30.00</h2>
                </div>
            </div>
        </div>
	</div>


     <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="titu">SOBRE JOUK</h1>
                <ul class="menu">
                  <li><a target="_blank" href="~/Usuarios/Login" >¿Quienes Somos?</a></li>
                  <li><a target="_blank" href="#">Nuestras Tiendas</a></li>
                  <li><a target="_blank" href="#">Trabaja con Nosotros</a></li>
                  <li><a target="_blank" href="#">Mision y Vision</a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <h1 class="titu">Datos para Contacto</h1>
                <ul class="menu"> 
                  <li>Dirección: Av.Javier Prado 4862 - Lima </li>
                  <li>Telefonos: 963 412 022</li>
                  <li>Correo: jouk@gmail.com</li>
                  <li>Horario de atención: 9:30 a.m. - 10 p.m.</li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
    <div class="container-footer">
               <div class="footer">
                    <div class="copyright">
                        © 2019 Todos los Derechos Reservados | <a href="">Jouk</a>
                    </div>

                    <div class="information">
                        <a href="">Informacion de la Empresa</a> | <a href="">Terminos y Condiciones</a> | <a href="">Privacion y Politica</a>
                    </div>
                </div>
     </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.11/js/mdb.min.js"></script>	

    
</body>
</html>