

body{
	
	font-family: sans-serif;
	background-image: url(https://pbs.twimg.com/media/Dy9ZzR0WoAEnokI.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;
	height: 100vh;
}


.form-register{
	width: 98%;
	max-width: 500px;
	margin: auto;
	background: white;
	border-radius: 7px;
	margin-top: 110px;
}

.form_título{
	background: rgb(23, 105, 126);
	color: #fff;
	padding: 20px;
	text-align: center;
	font-weight: 100;
	font-size: 30px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom: 5px solid rgb(22, 22, 22);
}

.contenedor-inputs{
	padding: 10px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
input{
	margin-bottom: 15px;
	padding: 15px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid darkgray;
}
.input-48{
	width: 48%;
}

.input-100{
	width: 100%;
}

.btn-enviar{
	background: rgb(209, 116, 41);
	color: #fff;
	margin: auto;
	padding: 10px 40px;
	cursor: pointer;
	font-size: 20px;
}
.btn-enviar:activate{
	transform: scale(1.05);
}

.form_link{
	width: 100%;
	margin: 7px;
	text-align: center;
	font-size: 14px;
}

