
 .menu li{
   display: inline-block;
   color: azure;
 }
 
 footer{
     width: 100%;
     background: #202020;
     color: white;
     }

 .container-footer{
     width: 100%;  
     background: #101010;
        margin-top: 40px;
    }
     

 .footer{
     max-width: 1200px;
     margin: auto;
     display: flex;
     justify-content: space-between;  
     padding: 20px;}
 
 .copyright{
     color: #C7C7C7;}
 
 .copyright a{
     text-decoration: none;
     color: white;
     font-weight: bold;
 }
 
 .information a{
     text-decoration: none;
     color: #C7C7C7;
 }
   

.titu{
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 60px;
}


.menu li {
    
    display:flex;
    padding: 5px;
    margin-top: 10px;
    color: rgba(160, 159, 159, 0.383);
}

.menu {
    padding: 0;
    margin: 10px;
    list-style: none;
}


