.fondo{
    height: 100vh;
    background: url('http://www.wkdshop.com/assets/fondo-optimizado-2c4cd92efe9230a922e9b105a5d472fc571adee650deaa1027e69c738b909e11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    
  }

  .fondo .titulo{
    border: white solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 300px;
    height: 100px;
    text-align: center;
    color: #fff;
    top: calc(80vh- 45%);
    left: 50%;
    position: absolute;
    margin-left: -150px;
    margin-top: 270px; 
    font-size: 90px;
  }
  
  .gris{
    background: rgba(0, 0, 0, 0.198);
  }

  .top-nav-collapse{
    background: rgba(0, 0, 0, 0.746) !important;
  }

  .rowcontainer{
    margin-left: 100px;
  }

  